

body
{
	background-color:#222;
	color:white;
}


textarea
{
	width:100%;
	resize:none;
	box-sizing:border-box;
}

button.regenerate
{
	width:100%;
	display:block;
	padding:1em;
	margin:0 0 2em 0;
}

div.tab-cont
{
	background-color:#333;
	padding:2em;
	margin-top:2em;
}

div.view
{
	border:1px solid #555;
	padding:1em;
}

button.btn.btn-selected
{
	border:1px solid green;
}
